.todo {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding-bottom: var(--frame-offset-y);
}

.todo__loader {
  position: fixed;
  left: 0;
  top: -9px;

  width: 100%;
}

.todo__container {
  flex: 1 0;
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;
}

.todo__list {
  margin: 0;
  padding: 0 var(--frame-offset-x);
}

.todo__empty-message {
  text-align: center;
  margin: auto;
}

.todo__header {
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.6);
  padding: var(--frame-offset-y) var(--frame-offset-x);
}
